/*--------------------------------------------------------------
## All Color Variable
----------------------------------------------------------------*/
:root {
  --web-wash: #fff;
  --primary: #1b1b1b;
  --secondary: #7d7e7c;
  --ternary: #d8d8d7;
  --gray: #f7f7f5;
  --border: #eaeaea;
  --accent: #aa8453;
  --primary-font: 'Libre Caslon Display', serif;
  --secondary-font: 'Poppins', sans-serif;
}

.cs_dark {
  --web-wash: #1b1b1b;
  --primary: #fff;
  --secondary: #d8d8d7;
  --gray: #181818;
  --border: #3c3c3c;
}

/*--------------------------------------------------------------
## All Font Variable
----------------------------------------------------------------*/
