/*--------------------------------------------------------------
  11. Iconbox
----------------------------------------------------------------*/
.cs_iconbox.cs_style_2 {
  .cs_iconbox_icon {
    height: 110px;
    width: 110px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 25px 0px rgba(27, 27, 27, 0.1);
    img {
      max-height: 60px;
      max-width: 60px;
    }
  }
  &.text-center {
    .cs_iconbox_icon {
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (max-width: 1199px) {
    p {
      br {
        display: none;
      }
    }
  }
}
.cs_iconbox.cs_style_3 {
  box-shadow: 0px 0px 20px 0px rgba(27, 27, 27, 0.1);
  padding: 1px 50px 44px;
  margin-top: 62px;
  @media (max-width: 991px) {
    padding: 1px 30px 34px;
  }
  @media (max-width: 400px) {
    padding: 1px 25px 34px;
  }
  .cs_iconbox_icon {
    height: 125px;
    width: 125px;
    border: 1px solid var(--accent);
    margin-top: -63px;
    img {
      width: 60px;
      transition: all 1s ease;
    }
  }
  &:hover {
    .cs_iconbox_icon {
      img {
        transform: rotateY(360deg);
      }
    }
  }
}
.cs_iconbox.cs_style_4 {
  display: flex;
  gap: 24px;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 40px;
  }
  .cs_iconbox_icon {
    height: 88px;
    width: 88px;
    border: 1px solid var(--primary);
    flex: none;
    img {
      flex: none;
      height: 40px;
      width: 40px;
    }
  }
}
.cs_iconbox.cs_style_5 {
  .cs_iconbox_icon {
    height: 85px;
    width: 85px;
    img {
      max-height: 45px;
      max-width: 45px;
      filter: brightness(0) invert(1);
    }
  }
  &.text-center {
    .cs_iconbox_icon {
      margin-left: auto;
      margin-right: auto;
    }
  }
  b {
    font-weight: 400;
    color: var(--primary);
  }
}
